.bar-graph-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.bar-graph-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  width: 80%; /* Adjust width as needed */
  max-width: 800px;
  margin: auto;
}

.bar {
  display: flex;
  width: 100%;
}

.bar-inner {
  height: 30px; /* Bar thickness */
  transition: transform 0.3s ease;
  transform-origin: left center;
  background-color: #4899b4; /* Default bar color */
  position: relative; /* Allows absolute positioning for text */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 8px;
}

.bar-inner:hover {
  transform: scaleX(1.1);
}

.bar-label {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
  text-align: left;
  width: 100%;
}

/* Bar Colors */
.bar-0 { background-color: #75d1ba; } /* Dark Green */
.bar-1 { background-color: #4899b4; } /* Dark Cyan */
.bar-2 { background-color: #2564a3; } /* Dark Blue */
.bar-3 { background-color: #7f38b3; } /* Indigo */
.bar-4 { background-color: #bb5499; } /* Purple */
.bar-5 { background-color: #ad50ad; } /* Dark Magenta */
.bar-6 { background-color: #b95c9a; } /* Dark Violet */
.bar-7 { background-color: #e283c5; } /* Dark Orchid */
.bar-8 { background-color: #e086bf; } /* Medium Violet Red */
.bar-9 { background-color: #e27070; } /* Deep Pink */
