---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Me">
  <section class="about-section">
    <div id="about-content">
      <h1>About Me</h1>
      
      <p class="text-left">Welcome to my website! I'm a math teacher by day, and data-miner by night.
        This is a collection of datamining works investigating how people spend time on the internet. The way we spend our free time is
        far more interesting than our time at work or at sleep. The things we seek voluntarily provide vital clues to how we understand the world, what's most rewarding to us and subsequently,
        what interest domains provide useful context for math education. I aim to use this research to solve that age old question students ask their math teachers:
      </p>

      <h3 class="text-center">"when will I ever use this?" -- so many students</h3>
    </div>
  </section>
</Layout>

<style>
  .about-section {
    position: relative;
    padding: 2rem;
    color: white;
    text-align: center;
    z-index: 1;
  }
  #about-content{
    max-width:700px;
    margin: auto;
  }
  .about-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400%;
    background-image: url('/src/content/posts/images/neural-purple-wings.png'); /* Replace with your image path */
    background-size: contain; /* Contain the image within the background */
    background-position: 75% top; /* Position the image to the top right */
    background-repeat: no-repeat; /* Ensure the image doesn't repeat */
    transform: rotate(180deg) scaleX(-1); /* Flip the image upside down */
    z-index: -1;
    opacity: 0.5; /* Optional: Adjust the opacity for better text readability */
  }
</style>