---
// @ts-nocheck
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import PostList from '../components/PostList/PostList.astro';
import ChartJS from '../components/ChartJs/index.svelte'
// Fetch all posts from the 'posts' collection
let posts = await getCollection('posts');
---

<Layout title="Stimsims Home Page" description={"Stimsims home page with a collection of posts discussing different hobbies and their effects on the brain and education"} >
  {import.meta.env.DEV && <ChartJS client:load  />}
  <h1 class="text-centre">Stimsims Home Page</h1>
  <PostList posts={posts} />
</Layout>