---
import Card from '../Card/Card.astro';
import type { PostProps } from '../Post/types';

export interface Props {
  posts: PostProps[];
}

// Destructure the posts prop
const { posts } = Astro.props as Props;


---

<main>
  {posts && posts.length > 0 ? (
    posts.map((post) => (
      <Card 
        title={post.data.title} 
        description={post.data.description} 
        link={`/posts/${post.slug}`} 
        cover={post.data.cover}
      />
    ))
  ) : (
    <p>No posts available.</p>
  )}
</main>