
.max-width-300{
    max-width: 300px
}
.max-width-500{
    max-width: 500px
}

.float-left{
    float: left;
}

.vertical-padding-100{
    padding-bottom: 80px;
    margin-top:40px;
}

.top-divider{
    outline:0;
    border:0;
    border-top: 1px solid var(--color-text);
}