/* src/styles/global.css */

/* Set default font family and color */
code {
    font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
}


body, p {
    font-family: 'Courier New', sans-serif;
    color: var(--color-text); /* Use the color-text variable */
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  
  /* Headings */
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', serif;
    color: var(--color-text); /* Use the color-text variable */
    margin-top: 0;
  }
  

  /* Links */
  a {
    color: var(--color-secondary-light);
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Lists */
  ul, ol {
    margin: 0;
    padding: 0;
    list-style-position: inside;
  }
  
  li {
    margin-bottom: 0.5rem;
  }


  /* Text Sizes */
.text-large {
  font-size: 2rem; /* Large text size */
}

.text-medium {
  font-size: 1.5rem; /* Medium text size */
}

.text-small {
  font-size: 1rem; /* Small text size */
}

.text-centre{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}