---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<style is:global>
			:root {
			  --color-primary: #3498db;
			  --color-secondary: #2ecc71;
			  --color-accent: #e74c3c;
			  --color-background: #ecf0f1;
			  --color-text: #2c3e50;
			  --color-muted: #95a5a6;
			}
			html {
				font-family: system-ui, sans-serif;
				background: #13151a;
			}
			code {
				font-family:
					Menlo,
					Monaco,
					Lucida Console,
					Liberation Mono,
					DejaVu Sans Mono,
					Bitstream Vera Sans Mono,
					Courier New,
					monospace;
			}
			body {
			  background-color: var(--color-background);
			  color: var(--color-text);
			  font-family: Arial, sans-serif;
			  margin: 0;
			  padding: 0;
			}
		  </style>
	</head>
	<body>
		<slot />
	</body>
</html>