---
// @ts-nocheck
import { ViewTransitions } from 'astro:transitions';
import Sidebar from '../components/Sidebar/Sidebar.svelte';
import '../components/variables.css'; // global CSS variables
import '../components/typography.css'; // global typographic styles
import './layout.css'; // local layout styles
import '../components/spacing.css'
import Background from '../components/Background/Rotating-Circles.astro'

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
    <meta name="robots" content="noindex, nofollow">
		<title>{title}</title>
		<style is:global>
            html, body {
              height: 100%;
              margin: 0;
              padding: 0;
            }
            body {
              display: flex;
              flex-direction: column;
              background-color: var(--color-background);
              color: var(--color-text);
              font-family: Arial, sans-serif;
            }
            main {
              flex: 1;
              padding-top: 1rem; /* Add padding to the top of main */
              overflow-y: auto; /* Enable vertical scrolling */
              padding-left: 50px;
              padding-top: 3rem;
            }
            /* Custom scrollbar styles */
            main::-webkit-scrollbar {
              width: 12px;
            }
            main::-webkit-scrollbar-track {
              background: var(--color-background);
            }
            main::-webkit-scrollbar-thumb {
              background-color: var(--color-primary);
              border-radius: 6px;
              border: 3px solid var(--color-background);
            }
		  </style>
		  <ViewTransitions />
	</head>
	<body>
    <div class="animated-gradient"/>
    <Background />
		<Sidebar client:load />
		<main>
		  <slot></slot>
		</main>
	</body>
</html>